.nav{
    background-color: #333333;
    display: flex;  
    justify-content: space-between;
    color: white;
}
.nav-title{
    margin-left: 20px;
    justify-content: flex-start;
}
.nav-links{
    list-style: none;
    display: flex; 
  

}
li{
    margin: 20px;
}


a{
    color: #888888;
    text-decoration: none;
}
.active { color: white;
    
}

.btn{
    background-color: #17a2b8;
    box-shadow: 3px 5px black;
    color: white;
}